// Variables for dark mode
$dark-primary-color: #299764;
$dark-secondary-color: #ffffff;
$dark-background-color: #1c1c1c;
$dark-card-background-color: #272727;
$dark-text-color: #ffffff;
$dark-muted-text-color: #ffffff;
$dark-border-color: #333333;
$dark-hover-color: #077743;
$dark-link-color: #4285f4;
$dark-footer-background: #1c1c1c;
$main-ff: "Montserrat", sans-serif;

// Variables for light mode
$light-primary-color: #299764;
$light-secondary-color: #000000;
$light-background-color: #ffffff;
$light-card-background-color: #f5f5f5;
$light-text-color: #000000;
$light-muted-text-color: #555555;
$light-border-color: #e5e7ea;
$light-hover-color: #077743;
$light-link-color: #4285f4;
$light-footer-background: #ffffff;
$main-ff: "Montserrat", sans-serif;
