#header {
  width: 100%;
  max-width: 144rem;
  background-color: var(--background-color);
  border-bottom: solid 1.5px var(--border-color);
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  padding: 1.8rem 12rem;
  margin: 0;
  align-items: center;
  width: 100%;
}

.logo-image {
  object-fit: contain;
  margin-right: 2rem;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
}

.sitenav__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--text-color);
  padding: 1.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sitenav__link::after {
  display: inline-block;
  content: "";
}

.sitenav__item {
  position: relative;
  &:hover .down-icon {
    transform: rotate(180deg);
  }
}

.sitenav__item__inner {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
}

.sitenav__item:hover .hidden-nav {
  opacity: 1;
  visibility: visible;
  transition: ease 4s;
}

.hidden-nav {
  box-shadow: 0px 4px 10px 0px #00000026;
  visibility: hidden;
  position: absolute;
}

.sitenav__link__inner {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #000000;
  padding: 18px 41px 18px 16px;
  border-radius: 100px;
  background-color: #ffffff;

  &:hover {
    background-color: #f5f5f5;
  }

  &:active {
    background-color: #299764;
  }
}

.header__phone-number {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: var(--text-color);
  margin-right: 2.4rem;
}

.mode-btn {
  padding: 18px;
  border-radius: 100px;
  background-color: var(--card-background-color);
  border: none;
  margin-right: 1.6rem;
}

.header__btn {
  padding: 18px 30px;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
